main {
  width: 100%;

  min-height: 100vh;

  padding: 40px 0 0 0;

  @media screen and (min-width: 1440px) {
    padding: 41px 71px;
  }
}

.main__container {
  padding: 0 8px;

  @media screen and (min-width: 1440px) {
    padding: 0;
  }
}

.menu {
  position: absolute;
  top: 40px;
  right: 20px;

  background: transparent;
  color: $greyColor;

  border: none;

  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.main__welcome {
  margin-bottom: 51px;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
}

.main__section {
  @extend %shadow;

  width: auto;

  background-color: $primaryWhiteColor;

  border-radius: 30px;

  @media screen and (min-width: 1440px) {
    width: 968px;
  }
}

.section__tools {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 30px 53px 40px 38px;

  @media screen and (min-width: 1440px) {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}

.tools__title {
  margin-bottom: 7px;

  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
}

.tools__switch {
  background: transparent;
  color: $positiveColor;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.33;

  border: none;
}

.tools__search {
  display: flex;
  align-self: center;
  position: relative;
}

.search__icon {
  position: absolute;
  top: 50%;
  left: 8px;

  fill: transparent;
  stroke: $searchIconColor;

  transform: translateY(-50%);

  transition: stroke 250ms ease-in-out;

  pointer-events: none;
}

.search__input:focus + .search__icon {
  stroke: $positiveColor;
}

.search__input {
  width: 216px;

  padding: 10px 10px 10px 40px;

  background-color: $mainBgColor;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;

  border: none;
  border-radius: 10px;

  outline: none;
}

.search__input::placeholder {
  color: $placeholderColor;
}

.section__box {
  margin-bottom: 32px;
}

.box__table {
  width: 100%;

  margin-bottom: 32px;

  font-weight: 500;

  font-size: 8px;
  line-height: 1.33;

  border-collapse: collapse;

  @media screen and (min-width: 768px) {
    font-size: 10px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 14px;
  }
}

.table__head {
}

.table__title {
  padding: 24px 0;

  text-align: justify;

  color: $placeholderColor;
}

.title__status {
  width: 40px;

  display: block;

  margin-left: auto;

  text-align: center;

  @media screen and (min-width: 768px) {
    width: 80px;
  }
}

.table__row {
}

.table__row--fullborder {
  border-bottom: 1px solid $separatorColor;
}

.table__row--semiborder {
  position: relative;
}

.table__row--semiborder::after {
  content: '';
  width: 340px;
  height: 1px;

  position: absolute;
  bottom: 0;
  left: 50%;

  transform: translateX(-50%);

  display: block;

  background-color: $separatorColor;

  @media screen and (min-width: 768px) {
    width: 666px;
  }

  @media screen and (min-width: 1440px) {
    width: 888px;
  }
}

.table__item {
  padding: 24px 0;
  text-align: start;
}

.table__title:first-of-type,
.table__item:first-of-type {
  padding-left: 8px;

  @media screen and (min-width: 768px) {
    padding-left: 38px;
  }
}

.table__title:last-of-type,
.table__item:last-of-type {
  padding-right: 8px;

  @media screen and (min-width: 768px) {
    padding-right: 38px;
  }
}

.item__value {
  display: block;

  margin-left: auto;
  padding: 4px;

  width: 40px;

  text-align: center;

  border-radius: 4px;

  @media screen and (min-width: 768px) {
    width: 80px;
  }
}

.item__value--active {
  background-color: $positiveBgColor;
  color: $positiveTextColor;

  border: 1px solid $positiveColor;
}

.item__value--inactive {
  background-color: $negativeBgColor;
  color: $negativeColor;

  border: 1px solid $negativeColor;
}

.section__pagination {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  padding: 30px 40px 40px 38px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 0;
  }
}

.pagination__info {
  color: $placeholderColor;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
}
