#pagination.tui-pagination {
  display: flex;
  gap: 6px;

  @media screen and (min-width: 768px) {
    gap: 12px;
  }
}

#pagination.tui-pagination .tui-prev {
  margin-right: 0;
}

#pagination.tui-pagination .tui-next {
  margin-left: 0;
}

#pagination.tui-pagination .tui-page-btn {
  background-color: $paginationBtnBgColor;
  color: $paginationNumberColor;

  border: 1px solid $separatorColor;
  border-radius: 4px;
}

#pagination.tui-pagination .tui-page-btn.tui-is-selected {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $accentBgBtnColor;
  color: $primaryWhiteColor;

  border: none;
}
