$primaryBlackColor: #000000;
$primaryWhiteColor: #ffffff;
$titleColor: #9197b3;
$accentBgBtnColor: #5932ea;
$positiveBgColor: #16c09861;
$positiveColor: #16c098;
$negativeBgColor: #ffc5c5;
$negativeColor: #df0404;
$greyColor: #838383;
$targetBgColor: #e6e6e6;
$positionColor: #757575;
$mainBgColor: #f9fbff;
$placeholderColor: #b5b7c0;
$searchIconColor: #7e7e7e;
$shadowColor: #e2ecf980;
